spring:
  jpa:
    show-sql: true
    open-in-view: false
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 20
  datasource:
    url: jdbc:h2:mem:voting
    username: sa
    password:
  h2:
    console:
      enabled: true
      #     http://localhost:8080/h2-console
      #    tcp: jdbc:h2:tcp://localhost:9092/mem:voting
logging:
  level:
    root: WARN
    ru.stencom.restaurantvoting: DEBUG